<app-header></app-header>

<div class="background"></div>
<div class="banner">
    <h3>Não se preocupe. Viva!</h3>
</div>

<div class="cadastro-container">
    <div class="cadastro">
        <mat-vertical-stepper class="stepper" [linear]="false">
            <mat-step label="Dados pessoais">
                <form [formGroup]="dadosPessoaisFormGroup" (submit)="onCadastro()">

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" name="cpf" placeholder="CPF" formControlName="cpf" minlength="11" maxlength="11">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput [matDatepicker]="nascimento" name="data-nascimento" placeholder="Data de nascimento" formControlName="dtNascimento" minlength="8" maxlength="8">
                        <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                        <mat-datepicker #nascimento></mat-datepicker>
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput name="rg" placeholder="RG" formControlName="rg" minlength="9" maxlength="9">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="orgao-emissor" placeholder="Órgão emissor" formControlName="orgaoemissor" minlength="5" maxlength="5">
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome" placeholder="Nome" formControlName="nome" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome" placeholder="Sobrenome" formControlName="sobrenome" maxlength="50">
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nacionalidade" placeholder="Nacionalidade" formControlName="nacionalidade" maxlength="20">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="naturalidade" placeholder="Naturalidade" formControlName="naturalidade" maxlength="20">
                    </mat-form-field>

                    <label class="image-upload-container btn btn-bwm">
                        <span>Selecione uma imagem da parte frontal e traseira do seu documento digitalizado.</span>
                        <input #imageInput
                                type="file"

                                name="image"       
                                       
                                accept="image/*"

                                (change)="handleFileInput($event.target.files)"

                                required>
                    </label>

                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>



            <mat-step label="Informações familiares">
                <form [formGroup]="FamiliaresFormGroup">
                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome-mae" placeholder="Nome da mãe" formControlName="nome_Mae" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome-mae" placeholder="Sobrenome da mãe" formControlName="sobrenome_Mae" maxlength="50">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome-pai" placeholder="Nome do pai" formControlName="nome_Pai" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome-pai" placeholder="Sobrenome do pai" formControlName="sobrenome_Pai" maxlength="50">
                    </mat-form-field>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>



            <mat-step label="Contato">
                <form [formGroup]="contatoFormGroup">
                    <mat-form-field class="w-100">
                        <input matInput type="email" name="email" placeholder="E-mail" formControlName="email" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" name="tel-residencial" placeholder="Telefone residencial" formControlName="tel_resid" minlength="8" maxlength="10">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="numberOnly($event)" name="tel-celular" placeholder="Telefone celular" formControlName="tel_Cel" minlength="9" maxlength="11">
                    </mat-form-field>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>



            <mat-step label="Endereço">
                <form [formGroup]="enderecoFormGroup">
                    <mat-form-field class="w-100">
                        <input matInput name="logradouro" placeholder="Logradouro" formControlName="logradouro" maxlength="50">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" type="number" name="numero" placeholder="Número" formControlName="numero" maxlength="5">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput name="complemento" placeholder="Complemento" formControlName="complemento" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput name="bairro" placeholder="Bairro" formControlName="bairro" maxlength="20">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="cidade" placeholder="Cidade" formControlName="cidade" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="estado" placeholder="Sigla do estado" formControlName="sigla_estado" minlength="2" maxlength="2">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="numberOnly($event)" type="text" name="cep" placeholder="CEP" formControlName="cep" minlength="8" maxlength="8">
                    </mat-form-field>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>



            <mat-step label="Confirmação">
                <form [formGroup]="clienteLoginFormGroup">

                    <mat-form-field class="w-475 mr-3">
                        <input matInput type="password" name="senha" placeholder="Senha do InternetBanking" formControlName="senha" minlength="8" maxlength="15">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput type="password" name="senha" placeholder="Confirme a senha do InternetBanking" formControlName="senha" minlength="8" maxlength="15">
                    </mat-form-field>

                    <p>Clicando no botão 'Finalizar', você confirma que deseja se cadastrar no InternetBanking.

                        <div>
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button (click)="onCadastro()" [disabled]="dadosPessoaisFormGroup.invalid && contatoFormGroup.invalid && enderecoFormGroup.invalid && FamiliaresFormGroup.invalid">Finalizar</button>

                            <small *ngIf="dadosPessoaisFormGroup.invalid && contatoFormGroup.invalid && enderecoFormGroup.invalid && FamiliaresFormGroup.invalid">Algum formulário possui informações incorretas!</small>
                        </div>
                </form>

            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>