<app-header></app-header>

<div class="background"></div>
<div class="banner">
    <h3>Não se preocupe. Viva!</h3>
</div>

<div class="cadastro-container">
    <div class="cadastro">
        <mat-vertical-stepper class="stepper" [linear]="false">
            <mat-step label="Dados pessoais">
                <form [formGroup]="dadosPessoaisFormGroup">

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" name="cpf" placeholder="CPF" formControlName="cpf" minlength="14" maxlength="14" [dropSpecialCharacters]="true" mask="000.000.000-00">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="nonTypingField($event)" [matDatepicker]="nascimento" name="data-nascimento" placeholder="Data de nascimento" formControlName="dtNascimento" minlength="8" maxlength="8"  max="{{this.dataLimiter | date: 'yyyy-MM-dd'}}">
                        <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                        <mat-datepicker #nascimento></mat-datepicker>
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput name="rg" placeholder="RG" formControlName="rg" minlength="12" maxlength="12" mask="00.000.000-A">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="orgao-emissor" placeholder="Órgão emissor" formControlName="orgaoEmissor" minlength="6" maxlength="6" [dropSpecialCharacters]="true" mask="SSS-SS">
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome" placeholder="Nome" formControlName="nome" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome" placeholder="Sobrenome" formControlName="sobrenome" maxlength="50">
                    </mat-form-field>

                    <br>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nacionalidade" placeholder="Nacionalidade" formControlName="nacionalidade" maxlength="20">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="naturalidade" placeholder="Naturalidade" formControlName="naturalidade" maxlength="20">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>

            <mat-step label="Informações familiares">
                <form [formGroup]="FamiliaresFormGroup">
                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome-mae" placeholder="Nome da mãe" formControlName="nomeMae" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome-mae" placeholder="Sobrenome da mãe" formControlName="sobrenomeMae" maxlength="50">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="nome-pai" placeholder="Nome do pai" formControlName="nomePai" maxlength="40">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="letterOnly($event)" name="sobrenome-pai" placeholder="Sobrenome do pai" formControlName="sobrenomePai" maxlength="50">
                    </mat-form-field>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>


            <mat-step label="Contato">
                <form [formGroup]="contatoFormGroup">
                    <mat-form-field class="w-100">
                        <input matInput type="email" name="email" placeholder="E-mail" formControlName="email" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" name="tel-residencial" placeholder="Telefone residencial" formControlName="telResid" minlength="8" maxlength="13" [dropSpecialCharacters]="true" mask="(00)0000-0000">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput (keypress)="numberOnly($event)" name="tel-celular" placeholder="Telefone celular" formControlName="telCel" minlength="9" maxlength="14" [dropSpecialCharacters]="true" mask="(00)00000-0000">
                    </mat-form-field>
                </form>

                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>

            <mat-step label="Endereço">
                <form [formGroup]="enderecoFormGroup">

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" type="text" name="cep" placeholder="CEP" formControlName="cep" minlength="8" maxlength="8" (blur)="onBuscaCEP()">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="cidade" placeholder="Cidade" formControlName="cidade" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <input matInput name="logradouro" placeholder="Logradouro" formControlName="logradouro" maxlength="50">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" name="numero" placeholder="Número" formControlName="numero" maxlength="5">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput name="complemento" placeholder="Complemento" formControlName="complemento" maxlength="30">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput name="bairro" placeholder="Bairro" formControlName="bairro" maxlength="20">
                    </mat-form-field>

                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="letterOnly($event)" name="estado" placeholder="Sigla do estado" formControlName="siglaEstado" minlength="2" maxlength="2">
                    </mat-form-field>
                </form>
                <div>
                    <button mat-button matStepperPrevious>Voltar</button>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </mat-step>

            <mat-step label="Confirmação">
                <form [formGroup]="clienteLoginFormGroup">

                    <mat-form-field class="w-475 mr-3">
                        <input matInput type="password" name="senhaAcesso" placeholder="Senha do InternetBanking" formControlName="senhaAcesso" minlength="8" maxlength="15">
                    </mat-form-field>

                    <mat-form-field class="w-475 ml-4">
                        <input matInput type="password" name="confirmacaoSenha" placeholder="Confirme a senha do InternetBanking" formControlName="confirmacaoSenha" minlength="8" maxlength="15" [errorStateMatcher]="matcher">
                    </mat-form-field>

                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>

                </form>

            </mat-step>

            <mat-step label="Senha">
                <form [formGroup]="senhaFormGroup">
                    <mat-form-field class="w-475 mr-3">
                        <input matInput (keypress)="numberOnly($event)" minlength="4" maxlength="4" type="password" name="senhaTransacoes" placeholder="Senha para Transações" formControlName="senhaTransacoes">
                    </mat-form-field>


                    <p>Clicando no botão 'Finalizar', você confirma que deseja se cadastrar no InternetBanking.
                        <div>
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button matStepperNext (click)="onCadastro()" [disabled]="dadosPessoaisFormGroup.invalid && contatoFormGroup.invalid && enderecoFormGroup.invalid && FamiliaresFormGroup.invalid">Próximo</button>

                            <small *ngIf="dadosPessoaisFormGroup.invalid && contatoFormGroup.invalid && enderecoFormGroup.invalid && FamiliaresFormGroup.invalid">Algum formulário possui informações incorretas!</small>
                        </div>
                </form>
            </mat-step>
            <mat-step label="Foto">
                <form [formGroup]="fotoFormGroup">
                    <label class="image-upload-container btn btn-bwm">
                        <span>Selecione uma imagem da parte frontal e traseira do seu documento digitalizado.</span>
                        <input type="file" name="image" (change)="fileProgress($event)"  formControlName="foto" />
                    </label>
                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext (click)="onUpload()">Finalizar</button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>