<h1>Faça aqui sua <b>Transferência</b></h1>
<mat-divider></mat-divider>
<br>
<br>
<form [formGroup]="form">      
    <p><input type="number" placeholder="Nº da Conta a ser Transferido" formControlName="numeroContaDestino"></p>
    <p><input type="number" placeholder="Valor (R$)" formControlName="valor"></p>
    <p><input type="password" placeholder="Senha de Transações" formControlName="senhaTransacoes"></p>
    <p><button mat-raised-button (click)="onTransferencia()">Transferir</button></p>
</form>
