<div class="container">
    <div class="content">
        <form [formGroup]="form">
            <p class="titulo">
                Transferência
            </p>

            <app-saldo></app-saldo>
            <br>
            <br>
            <br>

            <!-- <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nome Titular Conta Destino" formControlName="NomeTitularContaDestino">
                </mat-form-field>
            </p> -->


            <p>
                <mat-form-field>
                    <input type="number" matInput placeholder="Nº da Conta a ser Transferido" formControlName="numeroContaDestino">
                </mat-form-field>
            </p>


            <p>
                <mat-form-field>
                    <input type="number" matInput placeholder="Valor (R$)" formControlName="valor">
                </mat-form-field>
            </p>


            <div class="centralizar-botao">
                <button mat-raised-button (click)="onTransferencia()">Transferir</button>
            </div>
        </form>
    </div>
</div>