.container {
    display: flex;
    background-color: rgb(236, 236, 236);
}

.menu{
    float: left;
    width: 20vw;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
}

.menu button{
    border-style: none;
    color: white;
    background-color: mediumaquamarine;
    height: 50px;
}

.menu button:hover{
    background-color: aquamarine;
    color: black;
}

.conteudo{
    margin-left: 25px;
    margin-top: 25px;
    float: right;
    width: 80vw;
}
