<h1>Faça aqui seu <b>saque</b></h1>
<mat-divider></mat-divider>
<form [formGroup]="form"> 
    <br>
    <br>    
    <p><input formControlName="valor" currencyMask [options]="{ prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}"></p>
    <p><input type="password" placeholder="Senha de transações" formControlName="senhaTransacoes"></p>
    <p><button mat-button (click)="onSaque()">Sacar</button></p>
    <br>
    <small class="erro" *ngIf="erro == true">Algo deu Errado!</small>
    <small class="sucesso" *ngIf="sucesso == true">Sucesso!</small>
</form>
