<div class="container">
        <div class="content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <p class="titulo">
                    Saque
                </p>
                
                <br>
                <br>
                <app-saldo></app-saldo>
                <br>
    
                <p>
                  <mat-form-field>
                    <input type="number" matInput placeholder="Valor (R$)" formControlName="valor">
                  </mat-form-field>
                </p>

                <!-- <p>
                  <mat-form-field>
                    <input type="text" matInput placeholder="Senha Transação" formControlNumber="valorSaque">
                  </mat-form-field>
                </p> -->
        
                <div class="centralizar-botao">
                  <button mat-raised-button (click)="onSaque()">Sacar</button>
                </div>
            </form>
        </div>
    </div>
