.background{
    width: 100vw;
    height: 92vh;
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin-left: -14px;
}

.content{
    width: 50vw;
    padding: 10px;
    height: 92vh;
    background-color: whitesmoke;
}

.botao{
    display: flex;
    justify-content: center;
}

.botao button{
    color: white;
    background-color: #5D8BE8;
    border: none;
    height: 40px;
    width: 160px;
}

h3{
    text-align: center;
    color: #5D8BE8;
}

p{
    text-align: center;
}

input{
    width: 25vw;
    text-align: center;
}

.data{
    width: 22.2vw;
}

form .dados{
    justify-content: center;
}

.sucesso{
    color: green;
}

.erro{
    color: red;
}