<app-header></app-header>
<div class="background">
    <div class="container">
        <div class="content">
            <h3>Parece que você já tem uma conta no nosso banco.</h3>

            <form [formGroup]="AtivarContaFormGroup">
                <p>Para ativar sua conta, confirme seus dados pessoais:</p>
                <p><input (keypress)="numberOnly($event)" type="text" name="cpf" formControlName="cpf" placeholder="CPF" minlength="14" maxlength="14" [dropSpecialCharacters]="true" mask="000.000.000-00"></p>
                <p><input (keypress)="numberOnly($event)" type="text" name="rg" formControlName="rg" placeholder="RG" maxlength="12" [dropSpecialCharacters]="true" mask="00.000.000-A"></p>
                <p>
                    <input class="data" matInput [matDatepicker]="nascimento" name="dtNascimento" formControlName="dtNascimento" placeholder="Data de nascimento">
                    <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                    <mat-datepicker #nascimento></mat-datepicker>
                </p>
                <div>
                    <p>Crie sua nova senha para acessar o InternetBanking:</p>
                    <p><input type="password" name="senhaAcesso" formControlName="senhaAcesso" minlength="8" maxlength="15" placeholder="Nova senha de acesso"></p>

                    <p>Crie sua nova senha para efetuar transações:</p>
                    <p><input (keypress)="numberOnly($event)" type="password" name="senhaTransacoes" formControlName="senhaTransacoes" minlength="4" maxlength="4" placeholder="Nova senha de transações"></p>

                    <div class="botao">
                        <button mat-raised-button (click)="onAtivar()">Ativar Conta</button>
                    </div>
                    <br>
                    <small class="erro" *ngIf="erro == true">Algo deu Errado!</small>
                    <small class="sucesso" *ngIf="sucesso == true">Sua conta foi reativada com sucesso!</small>
                </div>
            </form>
        </div>
    </div>
</div>