.background{
    background-color: #5D8BE8;
    width: 100%;
    height: 92vh;
}
.container{
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

h3{
    text-align: center;
    color: darkslategray;
}

p{
    text-align: center;
}

input{
    width: 25vw;
    text-align: center;
}

button{
    text-align: center;
}