<div class="content">
    <h1>Desativar conta</h1>
    <mat-divider></mat-divider>
    <h4>Deseja realmente desativar a sua conta do InternetBanking?</h4>
    <p>Para desativar sua conta você deve inserir suas senhas de acesso e de transações.</p>

    <form [formGroup]="inativarContaFormGroup">
        <p><input type="password" name="senhaAcesso" formControlName="senhaAcesso" placeholder="Senha de acesso"></p>
        <p><input type="password" name="senhaTransacoes" formControlName="senhaTransacoes" placeholder="Senha de transações"></p>
    </form>

    <button mat-raised-button (click)="inativarConta()">Desativar Conta</button>
</div>