<div class="container">
    <div class="content-overlay">
        <div class="content">
            <form class="form-login" [formGroup]="loginForm" (submit)="login()">
                <h2 class="titulo">Login</h2>
                
                <mat-form-field>
                    <input (keypress)="numberOnly($event)" type="text" matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00" [dropSpecialCharacters]="true" ngModel maxlength="14" autofocus>
                </mat-form-field>
                <small *ngIf="loginForm.get('cpf').errors && loginForm.get('cpf').touched" class="text-danger d-block">CPF é um campo obrigatório</small>

                <br>

                <mat-form-field>
                    <input type="password" matInput placeholder="Senha" formControlName="senhaAcesso">
                </mat-form-field>
                <small *ngIf="loginForm.get('senhaAcesso').errors && loginForm.get('senhaAcesso').touched" class="text-danger d-block">Senha é um campo obrigatório</small>
                <small *ngIf="desativado == true" class="text-danger d-block">Você inseriu dados incorretos ou sua conta está bloqueada, verifique as informações ou reative para acessar.</small>
                <div class="button">
                    <button mat-raised-button>Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>