<div class="container">
    <div class="content" align="center">
        <p>Nome: {{this.nome}}</p>
        <p>Conta-corrente: {{this.numeroConta}}</p>
        <p>Agência: {{this.numeroAgencia}}</p>
        <app-saldo></app-saldo>
        <button mat-button (click)="abrirTrocaSenha()">Trocar senha do InternetBanking</button>
        <br>
        <button mat-button (click)="abrirTrocaInfo()"> Alterar informações de cadastro</button>
        <br>
        <button mat-button (click)="abrirFechamentoConta()">Solicitação de fechamento de conta</button>
    </div>
</div>