<div class="menu-lateral">
    <button mat-button (click)="onInicio()" autofocus>Início</button>
    <br>
    <button mat-button (click)="onExtrato()">Extrato</button>
    <br>
    <button mat-button (click)="onDeposito()">Depósito</button>
    <br>
    <button mat-button (click)="onSaque()">Saque</button>
    <br>
    <button mat-button (click)="onTransferencia()">Transferência</button>  
    <br>
    <div class="saldo">
        <app-saldo></app-saldo>
    </div>
    <br>
    <button mat-button (click)="onConfig()" class="botaoConfig">Configurações</button>
    <br>
        <div *ngIf="config == true" class="config">
            <button mat-button (click)="onAlterarDados()">Alterar Dados Pessoais</button>
            <br>
            <button mat-button (click)="onAlterarSenha()">Alterar Senha</button>
            <br>
            <button mat-button (click)="onDesativarConta()">Desativar Conta</button>
        </div>
    
    <button mat-button (click)="logout()" class="logout">Encerrar Sessão</button> 
</div>

<div class="conteudo">
    <mat-progress-bar mode="determinate" value=100></mat-progress-bar>
    <app-infos-conta *ngIf="inicio == true"></app-infos-conta>
    <app-extrato *ngIf="extrato == true"></app-extrato>
    <app-deposito *ngIf="deposito == true"></app-deposito>
    <app-saque *ngIf="saque == true"></app-saque>
    <app-transferencia *ngIf="transferencia == true"></app-transferencia>

    <app-alterar-info *ngIf="alterarDados == true"></app-alterar-info>
    <app-alterar-senha *ngIf="alterarSenha == true"></app-alterar-senha>
    <app-inativar-conta *ngIf="desativarConta == true"></app-inativar-conta>
</div>
