<div class="fundo">
    <div class='extrato-box'>
        <div class='resize'>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="dtTransacao">
                        <th mat-header-cell *matHeaderCellDef> Data </th>
                        <td mat-cell *matCellDef="let element"> {{element.dtTransacao}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="idTipoTransacao">
                        <th mat-header-cell *matHeaderCellDef> Histórico </th>
                        <td mat-cell *matCellDef="let element"> {{element.idTipoTransacao}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="valor">
                        <th mat-header-cell *matHeaderCellDef> Valor (R$) </th>
                        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>