table {
    width: 98%;
    background-color: white;
}

th {
    color: darkslategray;
    text-decoration: solid;
    font-size: 22px;
}

td {
    color: black;
    font-size: 18px;
}

mat-paginator {
    color: #5D8BE8;
    width: 98%;
}

.titulo {
    font-size: 40px;
}

b{
    color: #5D8BE8;
}

button {
    text-align: center;
    background-color: #5D8BE8;
    color: white;
}
