<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="dtTransacao">
        <th mat-header-cell *matHeaderCellDef> <b>Data</b> </th>
        <td mat-cell *matCellDef="let element">
            <p>{{element.dtTransacao}} </p>
        </td>
    </ng-container>

    <ng-container matColumnDef="idTipoTransacao">
        <th mat-header-cell *matHeaderCellDef class="aaa"> <b>Histórico</b> </th>
        <td mat-cell *matCellDef="let element" class="aaa">
            <p *ngIf="element.idTipoTransacao == 1"> &nbsp; Depósito &nbsp; </p>
            <p *ngIf="element.idTipoTransacao == 2"> &nbsp; Saque &nbsp;</p>
            <p *ngIf="element.idTipoTransacao == 3 && element.numeroContaOrigem == element.numeroConta"> &nbsp; Transferência feita para: {{element.numeroContaDestino}} &nbsp; </p>
            <p *ngIf="element.idTipoTransacao == 3 && element.numeroContaDestino == element.numeroConta"> &nbsp; Transferência recebida de: {{element.numeroContaOrigem}} &nbsp; </p>
        </td>
    </ng-container>

    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> <b>Valor</b></th>
        <td mat-cell *matCellDef="let element">
            <p><b *ngIf="element.idTipoTransacao == 2 || element.idTipoTransacao == 3 && element.numeroContaOrigem == element.numeroConta">-</b> R$ {{element.valor}}</p>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

<div>
    <button mat-button (click)="refresh()">Atualizar</button>
</div>
