h1 {
    text-align: justify;
}

h3 {
    display: flex;
    justify-content: center;
}

mat-divider {
    margin-bottom: 10px;
}

p {
    margin-left: 10px;
}

.conteudo {
    display: flex;
    justify-content: space-around;
}

.esquerda {
    width: 50%;
}

.direita {
    width: 50%;
    transition: 5s 5s active 5s;
}

.direita input {
    margin-bottom: 9px;
    width: 100%;
}

.direita .data {
    width: 90.79%;
}

button {
    float: right;
}

button{
    background-color: #5D8BE8;
    color: white;
}

button:hover{
    background-color: rgb(39, 62, 107);
}

.alterarInfo {
    margin-left: 5px;
}

.sucesso{
    color: green;
}

.erro{
    color: red;
}