<h1>Alterar informações de cadastro</h1>
<mat-divider></mat-divider>

<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == false" (click)="onEditarPerfil()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == true" (click)="salvarAlteracoesPerfil()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == true" (click)="onEditarPerfil()">Cancelar</button>
<h3>Perfil</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><strong>Nome:</strong> {{this.nome}}</p>
        <p><strong>Sobrenome:</strong> {{this.sobrenome}}</p>
        <p> <strong>CPF:</strong> {{this.cpf}}</p>
        <p><strong>RG:</strong> {{this.rg}}</p>
        <p><strong>Órgão emissor:</strong> {{this.orgaoEmissor}}</p>
        <p><strong>Data de nascimento:</strong> {{this.dtNascimento}}</p>
        <p><strong>Nacionalidade:</strong> {{this.nacionalidade}}</p>
        <p><strong>Naturalidade:</strong> {{this.naturalidade}}</p>
        <br>
    </div>

    <div class="direita">
        <form [formGroup]="alterarPerfilFormGroup" *ngIf="editarPerfil == true">
            <input (keypress)="letterOnly($event)" name="newNome" formControlName="newNome" placeholder="Nome" maxlength="40">
            <input (keypress)="letterOnly($event)" name="newSobrenome" formControlName="newSobrenome" placeholder="Sobrenome" maxlength="50">
            <input (keypress)="numberOnly($event)" name="newCpf" formControlName="newCpf" placeholder="CPF" minlength="11" maxlength="11">
            <input name="newRg" formControlName="newRg" placeholder="RG" minlength="9" maxlength="9">
            <input (keypress)="letterOnly($event)" name="newOrgaoEmissor" formControlName="newOrgaoEmissor" placeholder="Órgão emissor" minlength="5" maxlength="5">
            <input class="data" [matDatepicker]="nascimento" name="newDtNascimento" formControlName="newDtNascimento" placeholder="Data de nascimento" minlength="8" maxlength="8">
            <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
            <mat-datepicker #nascimento></mat-datepicker>
            <input (keypress)="letterOnly($event)" name="newNacionalidade" formControlName="newNacionalidade" placeholder="Nacionalidade" maxlength="20">
            <input (keypress)="letterOnly($event)" name="newNaturalidade" formControlName="newNaturalidade" placeholder="Naturalidade" maxlength="20">
        </form>
    </div>
</div>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == false" (click)="onEditarFamiliares()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == true" (click)="salvarAlteracoesFamiliares()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == true" (click)="onEditarFamiliares()">Cancelar</button>
<h3>Familiares</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><strong>Nome da mãe:</strong> {{this.nomeMae}}</p>
        <p><strong>Sobrenome da mãe:</strong> {{this.sobrenomeMae}}</p>
        <p><strong>Nome do pai:</strong> {{this.nomePai}}</p>
        <p><strong>Sobrenome do pai:</strong> {{this.sobrenomePai}}</p>
    </div>

    <div class="direita">
        <form [formGroup]="alterarFamiliaresFormGroup" *ngIf="editarFamiliares == true">
            <input (keypress)="letterOnly($event)" name="newNomeMae" formControlName="newNomeMae" placeholder="Nome da mãe" maxlength="40">
            <input (keypress)="letterOnly($event)" name="newSobrenomeMae" formControlName="newSobrenomeMae" placeholder="Sobrenome da mãe" maxlength="50">
            <input (keypress)="letterOnly($event)" name="newNomePai" formControlName="newNomePai" placeholder="Nome do pai" maxlength="40">
            <input (keypress)="letterOnly($event)" name="newSobrenomePai" formControlName="newSobrenomePai" placeholder="Sobrenome do pai" maxlength="50">
        </form>
    </div>
</div>

<br>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == false" (click)="onEditarContato()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == true" (click)="salvarAlteracoesContato()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == true" (click)="onEditarContato()">Cancelar</button>
<h3>Contato</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><strong>Email:</strong> {{this.email}}</p>
        <p><strong>Telefone residencial:</strong> {{this.telResid}}</p>
        <p><strong>Telefone celular:</strong> {{this.telCel}}</p>
    </div>
    <div class="direita">
        <form [formGroup]="alterarContatoFormGroup" *ngIf="editarContato == true">
            <input name="newEmail" formControlName="newEmail" placeholder="Email" maxlength="30">
            <input (keypress)="numberOnly($event)" name="newTelResid" formControlName="newTelResid" placeholder="Telefone residencial" minlength="8" maxlength="10">
            <input (keypress)="numberOnly($event)" name="newTelCel" formControlName="newTelCel" placeholder="Telefone celular" minlength="9" maxlength="11">
        </form>
    </div>
</div>

<br>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == false" (click)="onEditarEndereco()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == true" (click)="salvarAlteracoesEndereco()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == true" (click)="onEditarEndereco()">Cancelar</button>
<h3>Endereço</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><strong>Logradouro:</strong> {{this.logradouro}}</p>
        <p><strong>Número:</strong> {{this.numero}}</p>
        <p><strong>Complemento: </strong> {{this.complemento}}</p>
        <p><strong>Bairro:</strong> {{this.bairro}}</p>
        <p><strong>Cidade:</strong> {{this.cidade}}</p>
        <p><strong>Estado:</strong> {{this.siglaEstado}}</p>
        <p><strong>CEP:</strong> {{this.cep}}</p>
    </div>
    <div class="direita">
        <form [formGroup]="alterarEnderecoFormGroup" *ngIf="editarEndereco == true">
            <input name="newLogradouro" formControlName="newLogradouro" placeholder="Logradouro" maxlength="50">
            <input (keypress)="numberOnly($event)" name="newNumero" formControlName="newNumero" placeholder="Número" maxlength="5">
            <input name="newComplemento" formControlName="newComplemento" placeholder="Complemento" maxlength="30">
            <input (keypress)="letterOnly($event)" name="newBairro" formControlName="newBairro" placeholder="Bairro" maxlength="20">
            <input (keypress)="letterOnly($event)" name="newCidade" formControlName="newCidade" placeholder="Cidade" maxlength="30">
            <input (keypress)="letterOnly($event)" name="newEstado" formControlName="newEstado" placeholder="Sigla do estado" minlength="2" maxlength="2">
            <input (keypress)="numberOnly($event)" name="newCep" formControlName="newCep" placeholder="CEP" minlength="8" maxlength="8">
        </form>
    </div>
</div>

<br>
<mat-divider></mat-divider>