<h1>Alterar informações de cadastro</h1>
<mat-divider></mat-divider>

<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == false" (click)="onEditarPerfil()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == true" (click)="salvarAlteracoesPerfil()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarPerfil == true" (click)="onEditarPerfil()">Cancelar</button>
<h3>Perfil</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><b>Nome:</b> {{this.nome}}</p>
        <p><b>Sobrenome:</b> {{this.sobrenome}}</p>
        <p><b>CPF:</b> {{this.cpf}}</p>
        <p><b>RG:</b> {{this.rg}}</p>
        <p><b>Órgão emissor:</b> {{this.orgaoEmissor}}</p>
        <p><b>Data de nascimento:</b> {{this.dtNascimento}}</p>
        <p><b>Nacionalidade:</b> {{this.nacionalidade}}</p>
        <p><b>Naturalidade:</b> {{this.naturalidade}}</p>
        <br>
    </div>

    <div class="direita">
        <form [formGroup]="alterarPerfilFormGroup" *ngIf="editarPerfil == true">
            <input (keypress)="letterOnly($event)" name="Nome" formControlName="Nome" value="{{this.nome}}" placeholder="Nome" maxlength="40">
            <input (keypress)="letterOnly($event)" name="Sobrenome" formControlName="Sobrenome" value="{{this.sobrenome}}" placeholder="Sobrenome" maxlength="50">
            <input (keypress)="numberOnly($event)" name="Cpf" formControlName="Cpf" value="{{this.cpf}}"placeholder="CPF" minlength="11" maxlength="11">
            <input name="Rg" formControlName="Rg" value="{{this.rg}}" placeholder="RG" minlength="9" maxlength="9">
            <input (keypress)="letterOnly($event)" name="OrgaoEmissor" formControlName="OrgaoEmissor" value="{{this.orgaoEmissor}}"placeholder="Órgão emissor" minlength="5" maxlength="5">
            <input class="data" [matDatepicker]="nascimento" name="DtNascimento" formControlName="DtNascimento" value="{{this.dtNascimento}}" placeholder="Data de nascimento" minlength="8" maxlength="8">
            <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
            <mat-datepicker #nascimento></mat-datepicker>
            <input (keypress)="letterOnly($event)" name="Nacionalidade" formControlName="Nacionalidade" value="{{this.nacionalidade}}" placeholder="Nacionalidade" maxlength="20">
            <input (keypress)="letterOnly($event)" name="Naturalidade" formControlName="Naturalidade" value="{{this.naturalidade}}" placeholder="Naturalidade" maxlength="20">
        </form>
    </div>
</div>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == false" (click)="onEditarFamiliares()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == true" (click)="salvarAlteracoesFamiliares()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarFamiliares == true" (click)="onEditarFamiliares()">Cancelar</button>
<h3>Familiares</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><b>Nome da mãe:</b> {{this.nomeMae}}</p>
        <p><b>Sobrenome da mãe:</b> {{this.sobrenomeMae}}</p>
        <p><b>Nome do pai:</b> {{this.nomePai}}</p>
        <p><b>Sobrenome do pai:</b> {{this.sobrenomePai}}</p>
    </div>

    <div class="direita">
        <form [formGroup]="alterarFamiliaresFormGroup" *ngIf="editarFamiliares == true">
            <input (keypress)="letterOnly($event)" name="NomeMae" formControlName="NomeMae" value="{{this.nomeMae}}" placeholder="Nome da mãe" maxlength="40">
            <input (keypress)="letterOnly($event)" name="SobrenomeMae" formControlName="SobrenomeMae" value="{{this.sobrenomeMae}}" placeholder="Sobrenome da mãe" maxlength="50">
            <input (keypress)="letterOnly($event)" name="NomePai" formControlName="NomePai" value="{{this.nomePai}}" placeholder="Nome do pai" maxlength="40">
            <input (keypress)="letterOnly($event)" name="SobrenomePai" formControlName="SobrenomePai" value="{{this.sobrenomePai}}" placeholder="Sobrenome do pai" maxlength="50">
        </form>
    </div>
</div>

<br>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == false" (click)="onEditarContato()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == true" (click)="salvarAlteracoesContato()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarContato == true" (click)="onEditarContato()">Cancelar</button>
<h3>Contato</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><b>Email:</b> {{this.email}}</p>
        <p><b>Telefone residencial:</b> {{this.telResid}}</p>
        <p><b>Telefone celular:</b> {{this.telCel}}</p>
    </div>
    <div class="direita">
        <form [formGroup]="alterarContatoFormGroup" *ngIf="editarContato == true">
            <input name="Email" formControlName="Email" value="{{this.email}}" placeholder="Email" maxlength="30">
            <input (keypress)="numberOnly($event)" name="TelResid" formControlName="TelResid" value="{{this.telResid}}" placeholder="Telefone residencial" minlength="8" maxlength="10">
            <input (keypress)="numberOnly($event)" name="TelCel" formControlName="TelCel" value="{{this.telCel}}" placeholder="Telefone celular" minlength="9" maxlength="11">
        </form>
    </div>
</div>

<br>

<mat-divider></mat-divider>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == false" (click)="onEditarEndereco()">Editar informações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == true" (click)="salvarAlteracoesEndereco()">Salvar alterações</button>
<button mat-raised-button class="alterarInfo" *ngIf="editarEndereco == true" (click)="onEditarEndereco()">Cancelar</button>
<h3>Endereço</h3>
<mat-divider></mat-divider>

<div class="conteudo">
    <div class="esquerda">
        <p><b>Logradouro:</b> {{this.logradouro}}</p>
        <p><b>Número:</b> {{this.numero}}</p>
        <p><b>Complemento: </b> {{this.complemento}}</p>
        <p><b>Bairro:</b> {{this.bairro}}</p>
        <p><b>Cidade:</b> {{this.cidade}}</p>
        <p><b>Estado:</b> {{this.siglaEstado}}</p>
        <p><b>CEP:</b> {{this.cep}}</p>
    </div>
    <div class="direita">
        <form [formGroup]="alterarEnderecoFormGroup" *ngIf="editarEndereco == true">
            <input name="logradouro" formControlName="logradouro" value="{{this.logradouro}}" placeholder="logradouro" maxlength="50">
            <input (keypress)="numberOnly($event)" type="number" name="numero" formControlName="numero" value="{{this.numero}}" placeholder="numero" maxlength="5">
            <input name="complemento" formControlName="complemento" value="{{this.complemento}" placeholder="complemento" maxlength="30">
            <input (keypress)="letterOnly($event)" name="bairro" formControlName="bairro" value="{{this.bairro}" placeholder="bairro" maxlength="20">
            <input (keypress)="letterOnly($event)" name="cidade" formControlName="cidade" value="{{this.cidade}}" placeholder="cidade" maxlength="30">
            <input (keypress)="letterOnly($event)" name="siglaEstado" formControlName="siglaEstado" value="{{this.siglaEstado}}" placeholder="siglaEstado" minlength="2" maxlength="2">
            <input (keypress)="letterOnly($event)" name="cep" formControlName="cep" value="{{this.cep}}" placeholder="cep" minlength="8" maxlength="8">
        </form>
    </div>
</div>

<br>
<mat-divider></mat-divider>