.container {
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 40px;
    color: darkslategray;
    text-align: center;
}

mat-form-field {
    width: 95%;
}

button {
    text-align: center;
    background-color: darkslategray;
    color: white;
    margin: 3em;
}

.centralizar-botao {
    text-align: center;
}

.centralizar-botao {
    text-align: center;
}

.content {
    background-color: rgba(208, 231, 238, 0.438);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 50px;
    width: 5000px;
    height: 100vh;
}