.container {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 80vw;
    height: 92.4vh;
}

h1{
    margin-top: 20px;
}

p{
    font-size: 40px;
}

mat-form-field {
    width: 95%;
}

button {
    text-align: center;
    background-color: darkslategray;
    color: white;
    margin-top: -10px;
}

.centralizar-botao {
    text-align: center;
}

.content {
    width: 60vw;
    height: 80vh;
    background-color: white;
    color: darkslategray;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}