<div class="container">
    <div class="fundo">
        <div class="frente">
            <h1>Depósito</h1>
            <form [formGroup]="form">        
                <app-saldo></app-saldo>       
                <p><input type="number" placeholder="Valor (R$)" formControlName="valor"></p>
                <p><input type="password" placeholder="Senha de transações" formControlName="senhaTransacoes"></p>
                <p><button mat-raised-button (click)="onDeposito()">Depositar</button></p>
            </form>
        </div>
    </div>
</div>