@import '~@angular/material/theming';

@include mat-core();

$paleta-primaria: mat-palette($mat-cyan);
$paleta-secundaria: mat-palette($mat-teal);
$paleta-warning: mat-palette($mat-red);

$paleta-theme: mat-light-theme($paleta-primaria, $paleta-secundaria, $paleta-warning);

@include angular-material-theme($paleta-theme);