<h1>Alteração de senha</h1>

<form [formGroup]="trocaSenhaFormGroup">
    <mat-form-field class="w-100">
        <input matInput type="password" name="senhaAtual" formControlName="senhaAtual" placeholder="Insira sua senha atual" minlength="8" maxlength="15">
    </mat-form-field>
    <br>
    <mat-form-field class="w-100">
        <input matInput type="password" name="novaSenha" formControlName="novaSenha" placeholder="Insira sua nova senha" minlength="8" maxlength="15">
    </mat-form-field>
    <br>
    <mat-form-field class="w-100">
        <input matInput type="password" name="confirmacaoNovaSenha" formControlName="confirmacaoNovaSenha" placeholder="Confirme sua nova senha" minlength="8" maxlength="15" [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <br>
    <button mat-button>Confirmar</button>
</form>