<div class="content">
    
    <h1>Alterar senha</h1>

    <mat-divider></mat-divider>

    <form [formGroup]="alterarSenhaFormGroup">

        <p><input type="password" name="senha" formControlName="senha" placeholder="Insira sua senha atual" minlength="8" maxlength="15"></p>
        <p><input type="password" name="novaSenha" formControlName="novaSenha" placeholder="Insira sua nova senha" minlength="8" maxlength="15"></p>            
        <p><input type="password" name="confirmacaoNovaSenha" formControlName="confirmacaoNovaSenha" placeholder="Confirme sua nova senha" minlength="8" maxlength="15"></p>

        <button mat-raised-button (click)="alterarSenha()">Confirmar Alteração</button>
    </form>
</div>