.content{
    height: 88.7vh;
}

form input{
    width: 23vw;
}

mat-divider{
    margin-bottom: 10px;
}

small {
    color: red;
}

button{
    background-color: #5D8BE8;
    color: white;
}

button:hover{
    background-color: rgb(39, 62, 107);
}